<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="always"
         stopOnFailure="false"
         verbose="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
         >
 <testsuites>
	<testsuite name="Tests">
		<directory suffix="Test.php">tests</directory>
	</testsuite>
 </testsuites>
 <filter>
   <whitelist processUncoveredFilesFromWhitelist="true">
     <directory suffix=".php">src</directory>
     <exclude>
       <directory suffix=".php">tests</directory>
     </exclude>
   </whitelist>
 </filter>
 <logging>
    <log type="coverage-clover" target="tests/_reports/logs/clover.xml"/>
    <log type="coverage-html" target="tests/_reports/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
    <log type="testdox-text" target="tests/_reports/testdox/executed.txt"/>
 </logging>
</phpunit>